*, *::after, *::before {
    margin: 0;
}

:root
{
    --dark: rgb(17, 17, 17);
    --dark-white: rgb(53, 53, 53);
    --white: rgb(255, 255, 255);
    --red: #a14949;
    --green: #49A16C;
    --grey: #c0c0c0;
}

::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 950px) and (min-width: 400px) {
    main
    {
        flex-direction: column;
    }

    nav
    {
        width: 100%;
    }
}

@media (max-width: 580px) and (min-width: 300px) {
    main
    {
        zoom: .6; 
        -moz-transform: scale(.6); 
        -moz-transform-origin: 0 0;
        flex-direction: column;
    }

    nav
    {
        width: 100%;
    }
}

@media (max-width: 300px) and (min-width: 150px) {
    main
    {
        zoom: .3; 
        -moz-transform: scale(.3); 
        -moz-transform-origin: 0 0;
        flex-direction: column;
    }

    .album .container .row .col
    {
        zoom: .4; 
        -moz-transform: scale(.4); 
        -moz-transform-origin: 0 0;
    }

    nav
    {
        width: 100%;
    }
}



main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-width: 150px;
    background-color: var(--dark);
    color: var(--white);
}

.scroll {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: scroll;
    flex-direction: row;
    justify-content: center;
    min-width: 665px;
    overflow: scroll; 
    background-color: var(--dark-white);
}
.scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.card {
    height: 450px;
    width: 300px;
    border-radius: 20px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: box-shadow .2s linear;
    backdrop-filter: blur(5px);
    z-index: 1;
    padding: calc(50px / 2);
    color: var(--dark);
    border: 0;
}

.iconOptions {
    background-color: var(--dark);
    border-radius: 10px;
    object-position: 50% 50%;
    overflow: hidden;
}
.iconOptions img
{
    width: 100%;
    height: auto;
    box-sizing: initial;
}

.nameOptions {
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.myFont
{
    font-family: 'Cairo', sans-serif;
}

.leftPlace {
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    width: 55%;
    opacity: .9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.discriptionOptions
{
    font-family: 'Cairo', sans-serif;
    line-height: 1.3;
    font-family: 'Caveat', cursive;
    font-size: 26px;
}

.negativeCard
{
    background-image: linear-gradient(var(--grey), var(--red));
}

.positiveCard
{
    background-image: linear-gradient(var(--grey), var(--green));
}

.bold
{
    font-weight: bold;
}